@use './variables' as *;
@use './header';

.disabled { pointer-events: none; color: #ccc; }

.sr_only {
    display: none;
}

* {
    box-sizing: border-box;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: #828282;
    background-image:
        linear-gradient(to right, #cccccc80 1px, transparent 1px),
        linear-gradient(to bottom, #cccccc80 1px, transparent 1px);
    background-size: 20px 20px; 
}


div.container {
    position: relative;
    display: flex;
}

main.main_container {
    display: flex;
    width: 1020px;
    height: 670px;
    border-radius: 16px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
    }

    @media screen and (max-width: 1220px) {
        width: 800px;
        height: 540px;
    }
}

section.book_cover {
    position: relative;
    height: 100%;
    border: 1px solid #828282;
    border-radius: 16px;
    background-color: $secondary-color;

    &::after {
        content: '';
        position: absolute;
        top: 13px;
        width: calc(100% - 13px);
        height: calc(100% - 26px);
        border: 2px dashed rgba(255, 255, 255, 0.8);
        border-radius: 16px;
    }


    @media screen and (max-width: 1220px) {
        border-radius: 12px;
    }
}

section.left_page {
    max-width: 250px;
    width: 100%;
    padding: 20px 0 20px 20px;
    border-right: none !important;

    &::after {
        left: 10px;
        top: 10px;
        width: calc(100% - 10px);
        height: calc(100% - 20px);
    }
    .inner_page {
        border-right: none;
        padding-right: 8px;

        h3 {
            font-size: 12px;
            color: $cyworld-blue;
        }
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
    }

    @media screen and (max-width: 1220px) {
        max-width: 200px;
        padding: 18px 0 18px 18px;

        &::after {
            top: 10px;
            left: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 20px);
        }
        .inner_page {
            padding-right: 4px;
        }
    }
}

section.right_page {
    width: 1180px;
    padding: 20px 20px 20px 0;
    border-left: none !important;

    &::after {
        right: 10px;
        top: 10px;
        width: calc(100% - 10px);
        height: calc(100% - 20px);
    }
    .inner_page {
        border-left: none;
        padding-left: 8px;
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
    }

    
    @media screen and (max-width: 1220px) {
        padding: 18px 18px 18px 0;
        .inner_page {
            padding-left: 4px;
        }

        &::after {
            right: 8px;
            top: 10px;
            width: calc(100% - 10px);
            height: calc(100% - 20px);
            border-radius: 12px;
        }
    }
}

.inner_page {
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 15px;
    background-color: #fff;
    border-radius: 16px;
    border: 1px solid #828282;

    .top_area {
        min-height: 32px;
        margin-bottom: 4px;
    }

    .bottom_area {
        width: 100%;
        max-height: 680px;
        height: 100%;
        padding: 16px 18px;
        border-radius: 14px;
        border: 1px solid #999;
        overflow-y: scroll;

        &.profile_area {
            overflow: visible;
        }
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
    }

    @media screen and (max-width: 1220px) {
        padding: 12px;
        border-radius: 14px;

        .bottom_area {
            padding: 10px 14px;
            border-radius: 10px;
        }
    }
}

/* Left Page Specifics */
section.left_page {
    section.today_stats {
        display: flex;
        justify-content: center;
        align-items: flex-end;

        .visit_list {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            text-transform: uppercase;

            dt, dd {
                margin: 0;
            }
            dt {
                margin-right: 4px;
                font-size: 9px;
            }
            dd {
                font-weight: bold;
                font-size: 11px;
                &:not(:last-child)::after {
                    content: "|";
                    margin: 0 10px;
                    color: #555;
                }
                &.today_value {
                    color: #e81d1d;
                }
            }

            @media screen and (max-width: 1220px) {
                dt { font-size: 8px; }
                dd { font-size: 10px; }
            }
        }
    }
}

.profile_area {
    display: flex;
    flex-direction: column;
}

.profile_main {
    flex-grow: 1;
    overflow-y: auto;
}

.profile_footer {
    flex-shrink: 0;
    margin-top: auto;
    margin-bottom: 20px;
}

.profile_pic {
    position: relative;
    width: 100%;
    max-height: 200px;
    min-height: 180px;
    margin-bottom: 10px;
    overflow: hidden;

    @media screen and (max-width: 1220px) {
        min-height: 150px;
        max-height: 170px;
    }

    figure {
        margin: 0;
        transition: filter 0.3s ease;
    }

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }

    .profile-pic-edit-btn {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        border: none;
        cursor: pointer;
        font-size: 14px;
        font-weight: bold;
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0; // 평소에는 숨김
        transition: opacity 0.3s ease;
        text-transform: none;
    }
}


.profile-edit-form {
    .profile_pic.edit-mode {
        position: relative;

        &:hover {
            figure {
                filter: blur(2px) brightness(0.7);
            }
            .profile-pic-edit-btn {
                opacity: 1;
            }
        }
        
        .file-upload-btn {
            position: absolute;
            bottom: 10px;
            left: 50%;
            width: 80%;
            transform: translateX(-50%);
            background-color: rgba(0, 0, 0, 0.6);
            text-align: center;
            color: white;
            padding: 6px 12px;
            border-radius: 4px;
            font-size: 12px;
            cursor: pointer;
            text-transform: none;
        }

        // 실제 파일 input은 화면에 보이지 않도록 숨깁니다.
        input[type="file"] {
            display: none;
        }
    }
}

.today_mood {
    position: relative; 
    padding: 3px 14px;
    border: 1px solid $border-color;
    border-radius: 2px;
    margin-bottom: 8px;
    
    p {
        display: flex;
        align-items: center;
        font-size: 9px;
        font-weight: bold;
        color: $secondary-color;
        text-transform: uppercase;
    }
    button, span {
        margin-left: 6px;
        font-size: 13px;
        font-weight: normal;
        color: #000;
    }

    ul#moodList {
        position: absolute;
        top: 100%;
        left: 0;
        width: 100%;
        background-color: white;
        border: 1px solid #ccc;
        border-radius: 4px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
        z-index: 100;
        list-style: none;
        padding: 5px 0;
        margin: 2px 0 0 0;

        li {
            padding: 2px 8px;
            cursor: pointer;
            font-size: 13px;
            text-transform: none;

            &:hover {
                background-color: #f0f2f5;
            }
        }
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
        padding: 4px 14px;

        p {
            font-size: 10px;
        }
    }


    @media screen and (max-width: 1220px) {
        padding: 2px 8px;
        
        button { font-size: 11px; }
    }
}

.profile_pic {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    overflow: hidden;

    img {
        display: block;
        width: 100%;
        object-fit: cover;
    }
}

.profile_intro {
    height: 160px;
    overflow-y: scroll;
    font-size: 12px;

    p {
        font-size: 13px;
        white-space: pre-wrap;
        text-transform: none;
    }

    textarea {
        width: 100%;
        height: 95%;
        border: 1px solid $cyworld-blue;
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
    }
    @media screen and (max-width: 1220px) {
        height: 110px;
        p { font-size: 12px; }
    }
}

.profile_util {
    display: flex;
    gap: 8px;
    border-bottom: 1px solid $border-color;
    margin-bottom: 10px;

    button {
        display: inline-flex;
        align-items: center;
        font-size: 9px;
        font-weight: bold;
        text-transform: uppercase;

        &::before {
            content: '';
            display: inline-block;
            width: 1px;
            height: 1px;
            margin-right: 2px;
            border-top: 3px solid transparent;
            border-bottom: 3px solid transparent;
            border-left: 6px solid $highlight-color;
            background: none;
            border-radius: 0;
            cursor: pointer;
            padding: 0;

            &:hover {
                border-left-color: #666;
            }
        }

        &:hover {
            color: #666;
        }
    }

    @media screen and (max-width: 1220px) {
        margin-bottom: 6px;
        p { font-size: 10px; }
    }


    &.edit-mode {
        justify-content: flex-end;
        gap: 8px;
        padding-bottom: 5px;

        button {
            background-color: #f0f0f0;
            border: 1px solid #666;
            border-radius: 2px;
            padding: 0px 4px;
            font-size: 8px;
            line-height: 12px;
            font-weight: 500;
            color: #555;
            cursor: pointer;
            text-transform: none;
            transition: background-color 0.2s;

            &:hover {
                background-color: #e0e0e0;
            }

            &::before {
                content: '';
                display: none;
            }
        }
    
    }
}

.profile_info {
    .profile_info_wrap {
        display: flex;
        align-items: center;
        gap: 4px;
    }
    .user_name {
        display: inline-block;
        margin-right: 2px;
        font-size: 14px;
        font-weight: bold;
        color: $primary-color;
    }
    .user_gender, .user_birth {
        display: inline-block;
        font-size: 11px;
        color: $text-color-light;
    }
    .user_email {
        font-size: 11px;
        a {
            text-transform: lowercase;
            color: $highlight-color;
        }
    }

    @media screen and (max-width: 1220px) {
        .user_name {
            margin-right: 0;
            font-size: 12px;
        }
        .user_gender, .user_birth {
            font-size: 9px;
        }
        .user_email {
            font-size: 9px;
        }
    }
}

/* Right Page Specifics */
.title_area {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 0 10px;
    
    h3 {
        font-size: 21px;
        font-weight: bold;
        color: #42506e;
    }
    .flex-wrap {
        display: flex;
        flex-direction: column;
    }
    ul {
        display: flex;
        justify-content: flex-end;
        gap: 5px;
        font-size: 12px;
        font-weight: bold;
        color: $highlight-color;
    }
    a {
        text-transform: lowercase;
        color: $text-color-light;
        font-size: 10px;
        transition: color .3s;

        &:hover {
            color: $cyworld-blue;
            transition: color .3s;
        }
    }

    .title-wrapper {
        display: flex;
        align-items: flex-end;
        gap: 14px;

        h3 {
            margin: 0;
        }

        .title-edit-btn, .title-edit-actions button {
            background-color: #f0f0f0;
            border: 1px solid #666;
            border-radius: 2px;
            padding: 0px 4px;
            font-size: 8px;
            line-height: 12px;
            font-weight: 500;
            color: #555;
            cursor: pointer;
            text-transform: none;
            transition: background-color 0.2s;

            &:hover {
                background-color: #e0e0e0;
            }
        }

        .title-edit-input {
            font-size: 18px;
            font-weight: bold;
            color: #5a87af;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 0px 6px;
            text-transform: uppercase;
        }

        .title-edit-actions {
            display: flex;
            gap: 3px;
        }
        
        
    }

    @media screen and (max-width: 1220px) {
        h3 { font-size: 18px; }
    }
}

.grid_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
        "new links"
        "mini mini"
        "ilchone ilchone";
    grid-template-rows: auto auto auto;
    gap: 10px;
    max-width: 800px;

    h2 {
        height: 30px;
        font-size: 18px;
        color: $primary-color;
    }

    .title-wrapper {
        display: flex;
        align-items: center;
        gap: 10px;
        margin-bottom: 5px;

        h3 {
            margin: 0;
        }

        .title-edit-btn {
            background: none;
            border: none;
            cursor: pointer;
            font-size: 14px;
        }

        .title-edit-input {
            font-size: 21px;
            font-weight: bold;
            color: #5a87af;
            border: 1px solid #ccc;
            border-radius: 4px;
            padding: 2px 6px;
        }
        
        .title-edit-actions button {
            font-size: 12px;
            padding: 2px 8px;
            margin-left: 5px;
        }
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
        // max-width: 720px;
    }
    @media screen and (max-width: 1220px) {
        // max-width: 510px;
        
        h2 {
            height: 24px;
            font-size: 14px;
        }
    }
}

.recent_posts { 
    grid-area: new; 
    h2 {
        border-bottom: 1px solid $border-color;
        margin-bottom: 6px;
    }
    .no-posts {
        font-size: 14px;
        padding: 15px;
        text-align: center;
        background-color: #f8f8f8;
    }
    .post_lists {
        display: flex;
        flex-direction: column;
        gap: 4px;

        article > a {
            display: flex;
        }
        .tag {
            display: inline-block;
            padding: 0px 6px;
            margin-right: 4px;
            border-radius: 4px;
            font-size: 14px;
            color: #fff;
        }
        .tag_gray { background-color: #888; }
        .tag_pink { background-color: #c243a4; }
        .tag_green { background-color: #4ed938; }
        .tag_orange { background-color: #d97537; }

        h3 {
            display: inline-block;
            max-width: 260px;
            font-size: 14px;
            font-weight: normal;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }

        @media screen and (max-width: 1220px) {
            h3 { font-size: 12px; }
            .tag { font-size: 12px; }
        }
    }
}
.links { 
    grid-area: links; 
    margin-top: 30px;
    border-top: 1px dashed $border-color;

    ul {
        display: grid;
        grid-template-columns: 1fr 1fr;
        margin-top: 6px;
        li {
            display: flex;
            align-items: center;
            border-bottom: 1px dashed;
            font-size: 14px;
            height: 32px;

            a {
                display: flex;
                align-items: center;
            }

            strong {
                font-weight: normal;
                margin-right: 15px;
            }

            .new_icon {
                width: 10px;
                margin-left: 5px;
                animation: sparkle 1.2s infinite ease-in-out;
            }

            @keyframes sparkle {
                0%, 100% {
                    opacity: 1;
                }
                50% {
                    opacity: 0.1;
                }
            }

            .post_count {
                font-size: 12px;
                color: #0e2fed;
            }
        }
    }

    @media screen and (max-width: 1220px) {
        margin-top: 24px;
        ul {
            margin-top: 3px;
            li {
                height: 32px;
                font-size: 12px;
            }
        }
    }
}
.miniroom { 
    grid-area: mini; 
    margin-top: 20px;

    img {
        width: 100%;
        border: 1px solid #d3d3d3;
    }
}


/* Nav */
.nav {
    position: absolute;
    z-index: 10;
    top: 100px;
    right: -43px;
    ul {
        display: flex;
        flex-direction: column;
        gap: 3px;
    }
    li {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 80px;
        height: 48px;
        background-color: #2873a5;
        color: #fff;
        border: 1px solid #000;
        border-left: none;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
        cursor: pointer;
        &.active {
            background-color: #fff;
            color: #000;
        }
    }

    @media screen and (max-width: 1600px) and (min-width: 1221px) {
        right: -38px;
        li {
            width: 75px;
            height: 45px;
        }
    }
    @media screen and (max-width: 1220px) {
        top: 85px;
        right: -32px;
        ul { gap: 3px; }
        li {
            width: 64px;
            height: 38px;
            font-size: 12px;
        }
    }
}

/* Guestbook */
.guestbook {
    .bottom_area {
        padding-top: 24px;
        padding: 10px 18px;

        h3 {
            font-size: 12px;
            color: #77adc8;
            margin-bottom: 10px;
        }
    }
}

.guestbook_input_inner {
    position: relative;
    display: flex;
    gap: 10px;
    padding: 10px 10px 30px 10px;
    background-color: $gray-background;
}

.guestbook_form {
    width: 80%;
    height: 90px;

    textarea {
        display: inline-block;
        width: 100%;
        height: 90px;
        padding: 10px;
        background-color: #fff;
        resize: none;
        font-size: 12px;
        border: 1px solid #d8d8d8;
    }
}
.secret_checkbox {
    display: flex;
    align-items: center;
    font-size: 12px;
    color: #555;
    cursor: pointer;

    input {
        margin-right: 4px;
    }
}

.minimi_figure, .guestbook_figure {
    position: relative;
    width: 90px;
    height: 90px;
    margin-bottom: 10px;
    overflow: hidden;
    border: 1px solid #d8d8d8;
    img {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        width: 100%;
        height: 100%;
        transform: translate(-50%, -50%);
        object-fit: cover;
    }
}

.guestbook_btn {
    position: absolute;
    right: 10px;
    bottom: 10px;
    border: 1px solid $border-color;
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 2px;
    transition: background .3s;

    &:hover {
        background-color: $gray-background;
        transition: background .3s;
    }
}

.guestbook_list {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    margin-top: 20px;

    li {
        width: 100%;

        &.secret {

            .guestbook_header {
                border-top-color: #edddc4;
                background-color: #ffefd9;
            }

            .guestbook_body {
                align-items: flex-start;
                background-color: #fffdf5;
            }
        }
    }
}

.guestbook_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3px;
    background-color: $gray-background;
    padding: 4px 10px;
    border-top: 2px solid $gray-border;

    .guestbook_header_left {
        display: flex;
        align-items: center;
        gap: 3px;
    }

    .guestbook_number {
        font-style: normal;
        font-size: 8px;
        margin-right: 4px;
    }
    .guestbook_writer {
        font-weight: normal;
        font-size: 14px;
        color: #25407E;
    }
    .mini_home_btn {
        width: 18px;
        height: 18px;
        background-image: url('/imgs/minihome_icon.png');
        background-size: cover;
        background-repeat: no-repeat;
        position: relative;
        color: transparent;
        font-size: 0;
    }
    time {
        font-size: 10px;
        color: $text-color-light;
        margin-left: 4px;
    }
}

.guestbook_body {
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 10px;

    .guestbook_figure {
        border-radius: 4px;
    }

    .guestbook_content {
        width: 100%;

        .secret_message {
            display: flex;
            align-items: center;
            font-size: 12px;
            font-weight: 500;
            margin-bottom: 8px;

            img {
                width: 12px;
                margin-right: 3px;
            }

            .secret_title {
                color: #e18e11;
            }

            .secret_description {
                color: #c9ac00;
            }
        }

        .guestbook_text {
            font-size: 13px;
            max-width: 360px;
        }
    }
}

.guestbook-actions {
    display: flex;
    gap: 10px;
    font-size: 10px;

    button {
        background: none;
        border: none;
        color: #888;
        cursor: pointer;
        padding: 0;
        &:hover {
        text-decoration: underline;
        }
    }
}

.guestbook_text.secret-text {
    color: #999;
    font-style: italic;
}

.guestbook-edit-form {
    width: 100%;

    textarea {
        width: 100%;
        min-height: 60px;
        padding: 8px;
        border: 1px solid #2094b8;
        border-radius: 4px;
        margin-bottom: 10px;
        font-size: 12px;
    }

    .edit-actions {
        display: flex;
        justify-content: space-between;
        gap: 8px;

        .edit-buttons {
            display: flex;
            gap: 6px;

            button {
                border: 1px solid #ccc;
                background-color: #f0f0f0;
                padding: 2px 8px;
                font-size: 12px;
                border-radius: 2px;
                cursor: pointer;
    
                &[type="submit"] {
                    background-color: #2094b8;
                    color: white;
                    border-color: #2094b8;
                }
            }
        }

    }
}

.pagination {
    margin-top: 30px;
    ul {
        display: flex;
        justify-content: center;
        list-style: none;
        gap: 8px;
        padding: 0;
    }
    li a {
        display: block;
        text-decoration: none;
        color: $text-color-light;
        font-size: 14px;
        &.active,
        &:hover {
            color: #333;
        }
    }
    .prev, .next {
        color: #333;
    }
}


textarea:disabled,
button:disabled {
    background-color: #f5f5f5; 
    color: #ccc;
    cursor: not-allowed; 
    border-color: #e0e0e0;
}

button:disabled:hover {
    background-color: #f5f5f5;
}

input:disabled + label,
input:disabled {
    color: #ccc;
    cursor: not-allowed;
}








.pado_taki_area {

}

.pado_taki_area .dropdown {
    position: relative;
    display: inline-block;
    width: 100%;
}

.pado_taki_area .pado-button {
    display: flex;
    justify-content: space-between; 
    align-items: center;
    width: 100%;
    padding: 3px 5px;
    font-size: 12px;
    color: #333;
    background-color: white;
    border: 1px solid #d3d3d3;
    cursor: pointer;

    @media screen and (max-width: 1220px) {
        padding: 0px 3px;
        font-size: 11px;
    }

    &:active {
        border-top-color: #FFFFFF;
        border-left-color: #FFFFFF;
        border-right-color: #808080;
        border-bottom-color: #808080;
    }

    .arrow {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 12px;
        width: 12px;
        border: 1px solid #d3d3d3;
    }
}



.pado_taki_area .dropdown-menu {
    position: absolute;
    left: 0;
    top: 100%;
    width: 100%; 
    
    border: 1px solid;
    border-top-color: #FFFFFF;
    border-left-color: #FFFFFF;
    border-right-color: #808080;
    border-bottom-color: #808080;

    background-color: white;
    list-style: none;
    padding: 2px;
    margin: 0;
    max-height: 115px;
    overflow-y: auto;
    z-index: 10;

    @media screen and (max-width: 1220px) {
        max-height: 200px;
    }
}

.pado_taki_area .dropdown-menu li a {
    font-size: 12px;
    color: black;
    text-decoration: none;
    display: block;
    padding: 2px 3px;

    @media screen and (max-width: 1220px) {
        font-size: 11px;
    }
}

.pado_taki_area .dropdown-menu li a:hover {
    background-color: #0A246A;
    color: white;
}




.common-editor-container {

    @media screen and (max-width: 1220px) {
        max-width: 534px;
    }
}



.editor-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 8px 12px;
    border-bottom: 1px solid $gray-border;
    background: #f0f0f0;

    @media screen and (max-width: 1220px) {
        font-size: 12px;
    }

    .title-input-group {
        width: 100%;

        input {
            width: 100%;
        }
    }
}


