// --- Colors ---
$primary-color: #5a87af;
$secondary-color: #82bad6;
$cyworld-blue: #2094b8;
$cyworld-blue-light: #87c2cb;
$cyworld-orange: #f97316;
$cyworld-yellow: #fffde1;
$cyworld-yellow-dark: #fcf8cd;
$cyworld-secret-title: #8c7720;
$cyworld-secret-desc: #a1925a;
$cyworld-secret-icon: #b59d3c;

$border-color: #ddd;
$border-color-dark: #888;
$text-color-base: #555;
$text-color-light: #888;
$text-color-dark: #333;
$highlight-color: #FF7F00;

// --- Layout ---
$breakpoint-large: 1600px;
$breakpoint-medium: 1220px;